@import '~styles/colors';

.lesson {
  .top-bar {
    height: 14.55%;
    width: auto;
    background-color: $primary-light-blue;
    color: $white;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 48px;
      margin-top: 30px;
      margin-bottom: 30px;
      letter-spacing: 1px;
      span {
        margin-right: 10px;
      }
      svg {
        font-size: 58px;
      }
    }
    padding: 0px 5% 0px 5%;

    .dropdown-content {
      h2 {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 0 0 0;
        font-size: 36px;
      }
      background-color: $primary-light-blue;
      margin-top: -20px;
      box-shadow: -3px -3px 5px black;
      align: left;
    }
  }
  .nav-bar {
    display: inline-block;
    width: auto;
    background-color: $primary-dark-blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 0px 5% 0px 5%;
    .dropdown-content {
      h2 {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 0 0 0;
        font-size: 36px;
      }
      background-color: $primary-dark-blue;
      margin-top: -20px;
      box-shadow: -3px -3px 5px black;
    }
    h2 {
      font-size: 36px;
      svg {
        margin-left: 10px;
        margin-right: 10px;
      }
      margin-left: -10px
    }
  }
  .question {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 0px 5% 0px 5%;
    h3 {
      font-size: 24px;
      color: $text-dark-gray;
      letter-spacing: 1px;
      svg {
        margin-left: 10px;
        margin-right: 20px;
        font-size: 36px;
      }
    }
    img {
      margin-right: 10px;
      height: 45px;
    }
    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      width: 15%;
    }
  }
}

@media screen and (max-width: 700px) {
  .dynamic-show {
    visibility: hidden;
    clear: both;
    display: none;
  }
  .dynamic-justify {
    .top-bar {
      justify-content: space-around;
    }
    .nav-bar {
      justify-content: space-around;
    }
  }
}
