@import '~styles/colors';

.student-question {
  h2 {
    font-size: 24dp;
    margin-bottom: 10vh;
    text-align: center;
  }
  .answer-box {
    color: $text-dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  }
  button {
    display: inline-block;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 80vw;
    height: 100%;
    max-width: 400px;
    height: 7vh;
    border-radius: 100px;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    color: $primary-light-blue
  }
}
