@import '~styles/colors';

.join-session {
  h1 {
    margin-top: 10vh;
    font-family: 'Pacifico';
    width: 100vw;
  }
  .input {
    width: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    input {
      font-size: 18px;
      text-align: center;
      color: $black;
      &::-webkit-input-placeholder {
        color: $text-light-gray;
      }
      &::-moz-placeholder {
        color: $text-light-gray;
      }
      &::-ms-input-placeholder {
        color: $text-light-gray;
      }
      &::-moz-placeholder {
        color: $text-light-gray;
      }
      margin-left: 5vw;
      margin-right: 5vw;
      margin-top: 5vw;
      display: inline-block;
      line-height: 44px;
      border-radius: 12px;
      width: 80vw;
      max-width: 400px;
      border: 0 0 0 0;
      height: 45px;
    }
    button {
      display: inline-block;
      margin-top: 5vw;
      margin-left: 5vw;
      margin-right: 5vw;
      width: 80vw;
      max-width: 400px;
      height: 7vh;
      border-radius: 100px;
      background-color: white;
      font-size: 14px;
      font-weight: 600;
      color: $primary-light-blue;
      height: 51px;
    }
  }
}
