@import '~styles/colors';

.join-session {
  h1 {
    font-family: 'Pacifico';
    width: 100vw;
  }
  .input {
    width: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input {
      font-size: 18px;
      text-align: center;
      color: $black;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $text-light-gray;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $text-light-gray;
      }
      &::-ms-input-placeholder { /* IE 10+ */
        color: $text-light-gray;
      }
      &::-moz-placeholder { /* Firefox 18- */
        color: $text-light-gray;
      }
      margin-left: 5vw;
      margin-right: 5vw;
      margin-top: 5vw;
      display: inline-block;
      line-height: 44px;
      border-radius: 12px;
      width: 80vw;
      height: 100%;
      max-width: 400px;
      border: 0 0 0 0;
      height: 7vh;

    }
    button {
      display: inline-block;
      margin-top: 5vw;
      margin-left: 5vw;
      margin-right: 5vw;
      width: 80vw;
      height: 100%;
      max-width: 400px;
      height: 7vh;
      border-radius: 100px;
      background-color: white;
      font-size: 14px;
      font-weight: 600;
      color: $primary-light-blue
    }
  }
}
