
.question {
  .top-border {
    background-color: #2895FF;
    color: white;
    height: 30vh;
    width: 100wh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 0 0 99% 99% / 15%;
    h3 {
      font-size: 48px;
    }
    z-index: -1;
  }

  .exit {
    position: absolute;
    top: 48px;
    right: 4%;
    color: white;
    background-color: #2895FF;
    border: 1px solid #2895FF;
    font-size: 48px;
  }

  .question-textarea {
    display: flex;
    justify-content: center;
    margin-top: 17vh;
    textarea {
      width: 84vw;
      height: 21vh;
      border-radius: 10px;
      border: solid 1.2px #2895FF;
      font-size: 28px;
      padding: 2%;
      overflow-x: hidden;
    }
  }

  .answer-choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .bottom-border {
    background-color: #2895FF;
    color: white;
    height: 13%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right:0px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;

    .correct-answer {
      display: flex;
      margin-bottom: 1.5%;
      margin-top: 1.5%;
      margin-left: 6%;
      font-size: 2.15vw;
      align-items: center;
    }

    .correct-answer-box {
      width: 30%;
      font-size: 3.1vh;
      border-radius: 5px;
      border: 1px solid #2895FF;
      text-align: center;
      margin-left: 3%;
      color: black;
      height: 95%;
    }

    .back-btn {
      box-sizing: border-box;
      border: 1px solid #2895FF;
      border-radius: 100px;
      background-color: #FFFFFF;
      margin: 1.6%;
      width: 20%;
      color: #B3B3B3;
      margin-right: 6%;
      font-size: 1.2vw;
    }
  }
}
