@import '~styles/colors';

.answer-text-box, .answer-box {
  border: 1.5px solid;
  border-radius: 10px;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.18);
  text-align: center;
  display: flex;
  margin: 1.3%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  width: 42%;
  min-width: 350px;
  background-color: white;
  .optional-overlay {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 100%;
  }
}

.option-label {
  border-radius: 0 25% 25% 0 / 50%;
  width: 16%;
  color: white;
  font-size: 9vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  label {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.answer-1 {
  border-color: #FFBC42;
  .option-label {
    background-color: #FFBC42;
  }
}
.answer-2 {
  border-color: #FF5964;
  .option-label {
    background-color: #FF5964;
  }
}
.answer-3 {
  border-color: #7DDF64;
  .option-label {
    background-color: #7DDF64;
  }
}
.answer-4 {
  border-color: #FFE74C;
  .option-label {
    background-color: #FFE74C;
  }
}

.answer-0 {
  border-color: $primary-light-blue;
  .option-label {
    background-color: $primary-light-blue;
  }
}

.answer-form {
  border: none;
  text-align: center;
  border-radius: 5px;
  width: 90%;
  margin: 0.1%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: rgba(0,0,0,0.72);
  font-family: "San Francisco";

}
