@import '~styles/colors';

.banner-blue {
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.18);

  background-color: $primary-light-blue;
  color: $white;

  font-size: 72px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
