@import '~styles/colors';

.session-no-lesson {
  .top-bar {
    height: 14.55%;
    width: auto;
    background-color: $primary-light-blue;
    color: $white;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 48px;
      margin-top: 30px;
      margin-bottom: 30px;
      letter-spacing: 1px;
      span {
        margin-right: 10px;
      }
      svg {
        font-size: 58px;
      }
    }
    padding: 0px 5% 0px 5%;
  }

  .selection-collection {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
    li {
      margin-left: 28px;
      margin-right: 28px;
      .selection-square {
        width: 175px;
        h4 {
          color: $primary-light-blue;
          font-family: Montserrat;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          width: 175px;
          height: 56px;
        }
        .use-lesson {
          height: 175px;
          width: 175px;
          border-radius: 35px;
          border: 2px solid $primary-light-blue;
          background-color: $primary-light-blue;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: Helvetica, "Courier New";
          color: $white;
          h1, h5 {
            margin: 0;
          }
          h1 {
            font-size: 100px;
          }
          h5 {
            font-size: 24px;
            line-height: 29px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .dynamic-show-session-no-lesson {
    visibility: hidden;
    clear: both;
    display: none;
  }
}
