@import 'colors';

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 100%;
  color: $black;
  font-family: Montserrat;
  .btn {
    &:hover {
      cursor: pointer;
    }
  }
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  a:link {
      text-decoration: none;
  }
  a:visited {
      text-decoration: none;
  }
  a:hover {
      text-decoration: none;
  }
  a:active {
      text-decoration: none;
  }

}
