$white: #ffffff;
$black: #000000;
$primary-light-blue: #609dff;
$primary-dark-blue: #4286f4;

:export {
  white: $white;
  black: $black;
  primary-light-blue: primary-light-blue;
  primary-dark-blue: $primary-dark-blue;
}
