@import '~styles/colors';

.teacher-home {
  .top-bar {
    height: 14.55%;
    width: auto;
    background-color: $primary-light-blue;
    color: $white;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 48px;
      margin-top: 30px;
      margin-bottom: 30px;
      letter-spacing: 1px;
      span {
        margin-right: 10px;
      }
      svg {
        font-size: 58px;
      }
    }
    padding: 0px 5% 0px 5%;
  }
  .lined-header {
    h3 {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      color: $text-dark-gray;
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 44px;
    }
    h3 span {
      background: $white;
      padding: 0 15px;
      position: relative;
      z-index: 1;
    }
    h3:before {
      background: $text-dark-gray;
      content: "";
      display: inline-block;
      height: 2px;
      position: absolute;
      top: 50%;
      width: 70%;
      margin: auto;
    }
  }

}
