@import '~styles/colors';

.teacher-home {
  .top-bar {
    height: 14.55%;
    width: auto;
    background-color: $primary-light-blue;
    color: $white;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 48px;
      margin-top: 30px;
      margin-bottom: 30px;
      letter-spacing: 1px;
      span {
        margin-right: 10px;
      }
      svg {
        font-size: 58px;
      }
    }
    padding: 0px 5% 0px 5%;
  }
  .lined-header {
    min-width: 300px;
    h3 {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      color: $text-dark-gray;
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 44px;
    }
    h3 span {
      background: $white;
      padding: 0 15px;
      position: relative;
      z-index: 1;
    }
    h3:before {
      background: $text-dark-gray;
      content: "";
      display: inline-block;
      height: 2px;
      position: absolute;
      top: 50%;
      width: 70%;
      margin: auto;
    }
  }
  .selection-collection {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
    li {
      margin-left: 28px;
      margin-right: 28px;
      .selection-square {
        width: 175px;
        h4 {
          color: $primary-light-blue;
          font-family: Montserrat;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          width: 175px;
          height: 56px;
        }
        .edit-lesson {
          height: 175px;
          width: 175px;
          border-radius: 35px;
          border: 2px solid $primary-light-blue;
          background-color: $primary-light-blue;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: Helvetica, "Courier New";
          color: $white;
          h1, h5 {
            margin: 0;
          }
          h1 {
            font-size: 100px;
          }
          h5 {
            font-size: 24px;
            line-height: 29px;
          }
        }
        .new-lesson {
          height: 175px;
          width: 175px;
          border-radius: 35px;
          border: 2px dashed $primary-light-blue;
          .inner-icon {
            box-sizing: border-box;
            height: 82px;
            width: 82px;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            border: 2px solid $aux-light-blue;
            font-size: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $aux-light-blue;
          }
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
